.card-container {
    cursor: pointer;
    height: 400px;
    width: 400px;
    perspective: 1000px;
    position: relative;
    margin: auto;
    transition: ease-in;
    
  }
  
  .card {
    height: 400px;
    width: 400px;
    position: absolute;
    border: 1px solid #300;
    transform-style: preserve-3d;
    transition: all 0.4s ease-in-out;
    
  }
  
  .card:hover {
    transform: rotateY(180deg);
    transition: all 0.4s ease-in-out;
  }
  
  .card .front {
    height: 400px;
    width: 400px;
    backface-visibility: hidden;
    position: absolute;
    overflow: hidden;
    text-align: center;
    color:rgb(0, 0, 0);
    background-color:rgb(161, 156, 156);
  }
  
  .card .back {
    height: 400px;
    width: 400px;
    text-align: center;
    transform: rotateY(180deg);
    background:black;
    color:white;
  }
  
  .eng{
    color: #333;
    font-size: 2.3em;
    padding-top: 40%;
  }
  
  
  .pin{
      color:white;
      font-size: 2.3em;
      padding-top: 10%;
  }

  .inputs{
    width:100%;
    border-radius: 6px;
    padding:10px;
    margin-top:6px;
  }
  .buttonAdd {
    margin-top: 12%;
    background:#026aa7;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    width:100%;
    height:4vh;
    padding-left:0;
    margin-left:0;
  }

  .btn {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .btn-block {
    display: block;
    width: 100%;
    background: #026aa7;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }
  .add-form {
    margin-bottom: 40px;
  }
  .form-control {
    margin: 20px 0;
  }
  .form-control label {
    display: block;
  }
  
  .form-control input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }

  @media (max-width:375px){
    .header{
        width:100%;
      }
    .card-container {
        cursor: pointer;
        height: 400px;
        width: 400px;
        perspective: 800px;
        position: relative;
        margin: auto;
        transition: ease-in;
        max-width:100%;
      }
  }